.my-background {
    background-color: #2a88c5;
    background-image: url('/assets/background-image.jpg');
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
    height: 422px;
    width: 750px;
}